{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }}, {{author.last_name}}</h1>

  <p>
    {{ author.date_of_birth }} - {{ author.date_of_death }}
  </p>
  <div>
  {% if perms.catalog.can_mark_returned %}
    <a href="{% url 'author_update' author.pk %}">Update author</a>
    <a href="{% url 'author_delete' author.pk %}">Delete author</a>
  {% endif %}
  </div>
  <br>
  <h4>
    Books
  </h4>
  <hr>

    {% for book in author.book_set.all %}
      <a href="{% url 'book-detail' book.pk %}">
        {{ book.title }} ({% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %})
      </a>
      <p>
        {{ book.summary }}
      </p>
    {% endfor %}
      
{% endblock %}